In [44]:
import psycopg2
from psycopg2 import Error
import pandas
collection = []
try:
    # Connect to an existing database
    connection = psycopg2.connect(user="postgres",
                                  password="Hoang Ben",
                                  host="localhost",
                                  port="5432",
                                  database="CovidWorldData")

    cursor = connection.cursor()
    postgreSQL_select_Query = "SELECT * FROM data"
    cursor.execute(postgreSQL_select_Query)
    datacovid = cursor.fetchall()
    for row in datacovid:
        data = {}
        data["Date"] = row[1]
        data["Country name"] = row[2]
        data["Total cases"] = row[3]
        data["Total deaths"] = row[4]
        data["Total recovered"] = row[5]
        data["Active cases"] = row[6]
        data["New cases"] = row[7]
        data["New deaths"] = row[8]
        data["New recovered"] = row[9]
        data["Serious crititcal"] = row[10]
        data["Total pop cases"] = row[11]
        data["Pop cases"] = row[12]
        data["Total tested"] = row[13]
        data["Tested"] = row[14]
        data["Population"] = row[15]
        collection.append(data)
except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
    if (connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

PostgreSQL connection is closed

In [45]:
dataframe = pandas.DataFrame(collection)
data = dataframe.groupby(["Country name"]).get_group("USA")
data

,Date,Country name,Total cases,Total deaths,Total recovered,Active cases,New cases,New deaths,New recovered,Serious crititcal,Total pop cases,Pop cases,Total tested,Tested,Population
0,2021-08-17 16:17:03.551147,USA,37736986,638798,30227302,6870886,0,0,0,20465,113262,1917,558144828,1675189,333183130
222,2021-08-17 20:37:46.430295,USA,37737361,638801,30227302,6871258,375,3,0,20465,113263,1917,558144828,1675189,333183130
444,2021-08-17 21:19:20.531094,USA,37737361,638801,30227302,6871258,375,3,0,20465,113263,1917,558144828,1675189,333183130